<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="Orbis Dev"
        android:allowBackup="false"
        tools:replace="android:label,android:allowBackup">
        <activity android:name=".ui.activity.EmergencyBackupActivity"
            android:label="Orbis Dev 紧急备份" tools:replace="android:label" />
        <!-- Do not compete with the installed RikkaHub's public deep-link scheme. -->
        <activity android:name=".ui.activity.ShortcutHandlerActivity"
            android:exported="false" tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
        </activity>
    </application>
</manifest>
